@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    font-family: Roboto;
}

.promo {
    min-height: 800px;
    background: url('../img/images/main_bg.jpg') center center / cover no-repeat;
    padding: 22px 0 53px;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.logo__img {
    display: block;
    margin: 0 auto 13px auto;
}

.logo__text {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: normal;
}

.title {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.title__colored {
    font-size: 41px;
    line-height: 100%;
    color: #f9bf3b;
    margin-top: 52px;
}

.promo h2 {
    margin-top: 12px;
}

.title__big {
    font-size: 80px;
    line-height: 100%;
    color: #fff;
}

.promo__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 133%;
    text-align: center;
    color: #fff;
}

.promo__text span {
    text-transform: uppercase;
    color: #f9bf3b;
}

.btn {
    margin-top: 75px;
    border-radius: 4px;
    display: block;
    min-width: 315px;
    min-height: 72px;
    background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.promo__btn {
    margin: 75px auto;
}

.promo__more-text {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.promo__more-img {
    margin-top: 10px;
    display: block;
    margin: 10px auto 0 auto;
}

.intensive {
    background: #EFEFEF;
    padding: 80px 0;
}

.intensive__title {
    font-weight: 500;
    font-size: 30px;
    color: #252525;
}

.intensive__line {
    display: block;
    margin: 14px auto 0 auto;
}

.intensive__subtitle {
    margin-top: 15px;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
}

.intensive__wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.intensive__item {
    width: 360px;
}

.intensive__img {
    width: 100%;
}

.intensive_descr {
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    color: #4a4a4a;
}

.info {
    min-height: 564px;
    padding: 100px 0 140px 0;
    background-color: #0F0B0B;
}

.info__title {
    font-size: 30px;
    color: #f9bf3b;
    text-align: right;
}

.info__text {
    padding-left: 390px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    color: #fff;
    z-index: 999;
    position: relative;
}

.info__text.medium {
    font-weight: 500;
}

.info__img {
    position: absolute;
    top: 93px;
    left: -83px;
}

.skills {
    background: url('../img/images/secondary_bg.jpg') center center / cover no-repeat;
    padding: 80px 0 102px 0;
}

.skills__title {
    font-weight: 400;
    font-size: 30px;
    color: #efefef;
}

.skills_wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.skills__item {
    width: 224px;
    gap: 5px;
}

.skills__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 118px;
    margin: 0 auto;
    background-color: #F9BF3B;
    border-radius: 100%;
}

.skills__desc {
    margin-top: 18px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #efefef;
}

.gift {
    padding: 80px 0;
    background-color: #EFEFEF;
}

.gift__img {
    display: block;
    margin: 0 auto;
}

.gift__desc {
    margin-top: 80px;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #252525;
}

.btn__gift {
    margin: 60px auto 0 auto;
}

.webinar {
    background-color: #0F0B0B;
    padding: 50px 0;
}

.webinar__img {
    display: block;
    margin: 0 auto;
}

.webinar__title {
    margin-top: 40px;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
}

.webinar__title-colored {
    margin-top: 20px;
    font-weight: 900;
    font-size: 36px;
    color: #f9bf3b;
}

.webinar__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #efefef;
}

.footer {
    background-color: #1a1a1a;
    padding: 58px 0;
}

.footer__text#foot {
    color: white
}

.footer__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
}
